body {
    background: #000000;
}

#data-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

#data-table td, #data-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#data-table td:nth-child(even){background-color: #f2f2f2;}

#data-table td:hover {background-color: #ddd;}

#data-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
#map {
        height: 100%;
}